@import "tailwindcss";

@theme {
    --font-sans: "Mulish", sans-serif;

    --color-primary: #1C4FD8;
    --color-primary-variant: #EEF3FF;
    --color-secondary: #F2F4FA;
    --color-secondary-variant: #686868;

    --color-surface: #FFFFFF;
    --color-background: #FFFFFF;
    --color-background-dark: #0D0E10;
    --color-background-darker: #161822;

    --color-error: #FF5959;
    --color-error-variant: #FFECEC;
    --color-success: #3ECB55;
    --color-warning: #F6CF45;

    --color-text-main: #090924;
    /* onSurfaceColor */
    --color-text-gray: #4F5161;
    --color-text-light: #8F94A3;
    --color-text-white: #FFFFFF;
    --color-text-link: #EEF3FF;

    --color-border-dark: #2B2F36;
    --color-border-light: #E3EAF1;

    --color-background-card: #F7F8FA;

    --color-success-dark: #299634;
}

@layer base {
    html {
        font-family: var(--font-sans);
        color: var(--color-text-main);
    }

    button, 
    [role="button"], 
    input[type="button"], 
    input[type="submit"],
    select {
        cursor: pointer;
    }
}

/* Custom Utilities for Gradients */
@utility bg-gradient-light {
    background: linear-gradient(180deg, #F2F6FF 0%, #FFFFFF 100%);
}

@utility bg-gradient-dark {
    background: linear-gradient(180deg, #0D0E10 0%, #161822 100%);
}

@utility bg-gradient-dark-reversed {
    background: linear-gradient(180deg, #161822 0%, #0D0E10 100%);
}

@layer components {
    .btn-gradient-border {
        border: 2px solid transparent;
        background-clip: padding-box, border-box;
        background-origin: border-box;
        background-image: 
            linear-gradient(#1C4FD8, #1C4FD8), 
            linear-gradient(180deg, #3A69EA 0%, #2054E1 50%, #1B3E9D 100%);
    }
    
    .btn-gradient-border:hover:not(:disabled) {
        background-image: 
            linear-gradient(#1946BF, #1946BF), 
            linear-gradient(180deg, #3967E5 0%, #1C4FD8 50%, #163280 100%);
    }

    .btn-gradient-border:active:not(:disabled) {
        background-image: 
            linear-gradient(#143899, #143899), 
            linear-gradient(180deg, #3967E5 0%, #1C4FD8 50%, #163280 100%);
    }

    .btn-gradient-border:disabled {
        opacity: 0.5;
        background-image:
            linear-gradient(#1C4FD8, #1C4FD8),
            linear-gradient(180deg, #3A69EA 0%, #2054E1 50%, #1B3E9D 100%);
    }


    @media (max-width: 767px) {
        .faq-mobile-bg {
            background: linear-gradient(180deg, #F2F6FF 0%, #FFF 32.4%, #FFF 96.9%);
        }
    }
}